.mostOuterSectionOfViewStudent{
    margin: 0px 30px;
    display: flex;
    gap:20px;
}
.innerSectionProfileCard{
    width: 20%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px gray;
    border-radius: 4px;
    text-align: left;
    margin: 40px 0px;

}
.searchInput{
    width: 100%;
    margin: auto;
}
.headerTitle{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 15px;
    color:black;
}
.buttonSectionOfViewStudent{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.editButton{

    background-color: navy;
}
.deleteButton{
    background-color: darkcyan;
}
