.mostOuterSection{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.innerSection{
    width:30%;
    padding: 20px;
    background-color: rgb(238, 200, 200);
    text-align: left;
    border-radius: 5px;
    margin: 0px 20px;
}
.headerOfForm{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
input{
    width: 90%;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.labelsOfForm{
    margin: 8px 0px;
}
label{
    font-size: 15px;
    font-weight: 600;
}
.radioButtons{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 8px 0px;
}
.buttonSectionOfForm{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
button{
    padding: 8px 20px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 4px;
}
